.places {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.places-block {
  background-color: #fff;
  position: relative;
  padding: auto;
  height: 400px;
  width: 300px;
}

.map-container {
  height: 100vh;
  position: relative;
}